.sing-in {
  width: 390px;
  display: flex;
  flex-direction: column;
  

  .title {
    margin: 10px 0;
  }

  .btns{
    display: flex;
    column-gap: 10px;
  }

  .no-ac{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin: 20px auto;

    &:hover {
      text-shadow: 0, 2px, 3px rgba(0, 0, 0,0.5);
      color: rgb(0, 0, 0);
    }
  }
} 