.header{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    border: 1px solid black;

    .logo-container{
        border: 1px solid black;
        height: 100%;
        width: 50%;


        .logo{
            border: 1px solid rgb(247, 195, 8);
            height: 150px ;
            display: flex;
            justify-content: flex-start;
        }
    }

    .options{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option{
            padding: 20px 20px;
        }
    }

}
